@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --foreground-bg: 0, 0, 0;
    --background-start-bg: 0 0 0;
    --background-end-bg: 0 0 0;
    --text-high: 255 255 255;
    --mono-contrast-1: 255 255 255 / 0.7;
    --mono-contrast-2: 255 255 255 / 0.2;
    --mono-base-1: 32, 32, 32;
    --mono-base-2: 255 255 255 / 0.3;
    --mono-base-3: 255 255 255 / 0.1;
    --primary: 146, 228, 11;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-bg: 0, 0, 0;
      --background-start-bg: 0 0 0;
      --background-end-bg: 0 0 0;
      --text-high: 255 255 255;
      --mono-contrast-1: 255 255 255 / 0.7;
      --mono-contrast-2: 255 255 255 / 0.2;
      --mono-base-1: 32, 32, 32;
      --mono-base-2: 255 255 255 / 0.3;
      --mono-base-3: 255 255 255 / 0.1;
      --primary: 146, 228, 11;
    }
  }
  /* Add Every Color in this style for page level Dark Mode */
  html[data-theme="dark"] {
      --foreground-bg: 0, 0, 0;
      --background-start-bg: 0 0 0;
      --background-end-bg: 0 0 0;
      --text-high: 255 255 255;
      --mono-contrast-1: 255 255 255 / 0.7;
      --mono-contrast-2: 255 255 255 / 0.2;
      --mono-base-1: 32, 32, 32;
      --mono-base-2: 255 255 255 / 0.3;
      --mono-base-3: 255 255 255 / 0.1;
      --primary: 146, 228, 11;
    
  }
}


body {
  color: rgb(var(--foreground-bg));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-bg))
    )
    rgb(var(--background-start-bg));
}

